*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: #fff;
  background-image: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

:root {
  --tx-size-medium: 1.6rem;
}

.block__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding-left: 8rem;
  padding-right: 11rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  z-index: 10;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .header__menu {
    display: flex;
    align-items: center;
} */

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}

.header__nav a {
  font-size: var(--tx-size-medium);
  line-height: 150%;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__button {
  /* margin-left: 55.3rem; */
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  font-size: var(--tx-size-medium);
  line-height: 150%;
}

.main-display {
  padding-top: 27rem;
}

.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}

.main-display__header {
  max-width: 76rem;
  margin-bottom: 5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
}

.main-display__button {
  background-image: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-size: var(--tx-size-medium);
  line-height: 150%;
}

.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer__item:not(:last-child) {
  margin-right: 3rem;
}

.timer__count {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
}

.timer__text {
  font-size: var(--tx-size-medium);
  line-height: 140%;
  opacity: 0.4;
}

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrap {
  display: flex;
}

.work__img {
  width: 52.6rem;
  height: 49.9rem;
  margin-right: 13.9rem;
}
.work__text {
  max-width: 63.6rem;
  padding-top: 6.9rem;
}
.work__header {
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.work__description {
  font-size: var(--tx-size-medium);
  line-height: 160%;
}

.process {
  padding-bottom: 20rem;
  position: relative;
}

.process__img,
.command__rotate {
  width: 9rem;
  height: 4.5rem;
}
.process__header {
  margin-bottom: 4.9rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.process__title {
  display: flex;
}
.process__description {
  max-width: 41.1rem;
  margin-bottom: 8rem;
  margin-left: 2rem;
  font-size: var(--tx-size-medium);
  line-height: 160%;
  opacity: 0.5;
}

.process__columns {
  display: flex;
  margin-left: 2rem;
}
.process__columns::after {
  content: "";
  display: block;
  width: 130rem;
  height: 0.2rem;
  position: absolute;
  top: 31rem;
  left: 55%;
  transform: translate(-55%, 0);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.process__item {
  max-width: 30.6rem;
}
.process__work {
  margin-bottom: 5.5rem;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.process__text {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}
.command {
  padding-bottom: 20rem;
}

.command__title {
  margin-bottom: 11.9rem;
}
.command__rotate {
  transform: rotate(-45deg);
}

.command__header {
  margin-bottom: 0;
}

.command__wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 11rem;
  padding-right: 11rem;
}

.command__item {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.command__img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.command__name {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 140%;
}

.command__professional {
  margin-bottom: 3rem;
  font-size: var(--tx-size-medium);
  line-height: 160%;
  opacity: 0.5;
}

.command__link {
  font-size: var(--tx-size-medium);
  line-height: 150%;
  border: 0.1rem solid #fff;
}

.assembly {
  padding-bottom: 24.4rem;
}

.assembly__wrap {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.assembly__header {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.assembly__description {
  margin-bottom: 4.52rem;
  font-size: var(--tx-size-medium);
  line-height: 160%;
  opacity: 0.5;
}

.assembly__button {
  margin-bottom: 5.08rem;
  background-image: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-weight: 700;
  font-size: var(--tx-size-medium);
  line-height: 150%;
}

.assembly__socials {
  display: flex;
}

.assembly__item {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assembly__item img {
  width: 50%;
  height: 50%;
}

.assembly__item:not(:last-child) {
  margin-right: 3rem;
}
